.divParent {
    background-color: blue;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.divParent:hover {
    filter: brightness(0.8);
}
