.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardsContainer {
  display: flex;
  width: 800px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 400px;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 600px) {
  .cardsContainer {
  
    flex-direction: column;
    align-items: center;
    height: 400px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
